  <%= render "shared/loader" %>

  <% if @buddy %>
    <div class="btn-submit-index">
      <%= link_to "Match me with buddy", buddy_path(@buddy.id)  %>
    </div>
      <!-- <div class="btn-submit-index">Match me with buddy</div> -->
    <%# end %>
  <% end %>
  <%= render "shared/banner" %>

  <div>
    <% @buddies.each do |b| %>
    <p> <% b.first_name %> <% b.last_name %> </p>
    <p> <% b.specialties %></p>
    <% end %>
  </div>
