<div class="container flexbox">
  <div class="row banner-show" style="background-image: url('http://mzwnews.com/wp-content/uploads/2017/09/Blog-Berlin-move.jpg');">

    <% if user_signed_in? %>
      <h1>Hi <%= current_user.first_name %>, I'm <%= @buddy.first_name %></h1>
    <% else %>
      <h1>Hi, I'm <%= @buddy.first_name %></h1>
    <% end %>
  </div>
<div>

<div class="container flexbox">
  <div class="col-xs-12 col-sm-4">

    <div class="avatar">
      <p>Picture</p>
    </div>

    <div>
      <h3><a class="btn btn-lg btn-primary btn-book" href="">send message!</a></h3>
      <h3><%= link_to "request",  buddy_request_index_path (@buddy), class: "btn btn-lg btn-primary btn-book"%> </h3>
      <h3><a class="btn btn-lg btn-primary btn-book" href="">new match</a></h3>
    </div>
  </div>


  <div class="col-xs-12 col-sm-8">
    <div class="row">
      <p>description</p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>tasks</p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <p>map</p>
      </div>
    </div>

    <div class="row">
      <p>review</p>
    </div>
  </div>
</div>








