<div class="container flexbox">
  <div class="row banner-show" style="background-image: url('http://mzwnews.com/wp-content/uploads/2017/09/Blog-Berlin-move.jpg');">

    <h1>Hi Fernadera, I'm Ole the legend</h1>
  </div>
<div>

<div class="container flexbox">
  <div class="col-xs-12 col-sm-4">

    <div class="avatar">
      <p>Picture</p>
    </div>

    <div>
      <h3><a class="btn btn-lg btn-primary btn-book" href="">send message!</a></h3>
      <h3><a class="btn btn-lg btn-primary btn-book" href="">request</a></h3>
      <h3><a class="btn btn-lg btn-primary btn-book" href="">new match</a></h3>
    </div>
  </div>


  <div class="col-xs-12 col-sm-8">
    <div class="row">
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>tasks</p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <p>map</p>
      </div>
    </div>

    <div class="row">
      <p>review</p>
    </div>
  </div>
</div>






















  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="show-content">

        <div class="show-title">
          <h1>OLE THE LEGEND</h1>
        </div>

        <br>

        <div class="">
          <h2>Lots of traffic and tourists</h2>
        </div>

        <div class="show-header">
              <h6>- log in to see who created this spot.</h6>
        </div>

        <br>
        <br>

            <h3><a class="btn btn-lg btn-primary btn-book" href="/spots/17/spot_bookings/new">Book this Spot now!</a></h3>

        <br>

        <br>

        <a style="color:#5A5A5A; font-size:40px" href="/spots"><i class="far fa-arrow-alt-circle-left"></i></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">

      <div class="show-map">
        <div
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="[{&quot;lng&quot;:13.4358769,&quot;lat&quot;:52.5074864,&quot;infoWindow&quot;:{&quot;content&quot;:&quot;\n  East Side Galery\n  East Side Gallery, Mühlenstr., Berlin, 10243, Germany\n&quot;}}]"
          data-mapbox-api-key="pk.eyJ1IjoicmhldHRjYXJwZXQiLCJhIjoiY2pvc2doYXU3MDEwNTNwcWtzbWtuNnR6NiJ9.iRdqv2ZLnW0ELG6l8_HFHA">
        </div>
      </div>


    </div>
  </div>
</div>
