// Specific CSS for your home-page
.container{
  text-align: center;
  flex-direction: row;

}

.background{
background-color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
}

h3{
  font-size: 20px;
  font-weight: bold;

}

h2{
  font-weight: bold;
}

h3{
  padding: 10px;
  padding-bottom: 1px;
  margin:10px;
  text-align: center;

}

.p1{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 70px;
  margin:3px;
  color: grey;
  vertical-align: top;
  }



.fa-calendar-plus{
  font-size: 40px;
  color: #FDA16D;
}

.fa-map:before {
  font-size: 40px;
  color: #FDA16D;
}

.fa-user-friends{
  font-size: 40px;
  color: #FDA16D;
}

.fa-comments:before {
  font-size: 40px;
  color: #FDA16D;
}

#explaination{
  padding:40px;
}
