.container-request {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}


.request {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    transition: all 0.15s ease;
    margin: 10px 0;
    border-radius: 10px;
    background-color: white;
    color: #484e4f;
    opacity: 0.85;
    height: 25vh;
    width: 100vh;
}

.request:hover {
    cursor: pointer;
    box-shadow: 0 0 50px rgba(33,33,33,.2);
    opacity: 0.95;
}

.request-upvote {
    padding-right: 20px;
    text-align: center;
    transition: all 0.15s ease;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.request-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.request-count {
    margin: 2px 0 0;
}

.request-image {
    border-radius: 10px;
    margin-right: 20px;
    width: 150px;
    height: 100px;
    background-size: cover !important;
    background-position: center;
}

.request-body {
    display:flex;
    flex-direction: column;
    // width: 25vh;
}


.request-body h2 {
    font-weight: bold;
    font-size: 20px;
}

.request-body h3 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 0;
}

.request-body p {
    font-weight: lighter;
    color: grey;
    // margin-bottom: 0;
}

.avatar2 {
    // background: black;
    // border-radius: 50%;
    // height: 30vh;
    // width: 30vh;
    // transform: translateY(-15vh);
    background-position: center;
    // from wiebke
    display:flex;
    justify-content: center;
    align-items: center;
    //from arbi
    overflow: hidden;
}

.request-controls a {
    padding: 0 20px;
    font-size: 17px;
    color: #E6E6E6;
}

a {
  color: white;
}

.buttons {
    display: flex;
}

.btn-hover {
    width: 130px;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 25px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
