@media only screen and (max-width: 1030px) {
  .btn-submit-index{
    width: 70% !important;
    left: 15% !important;
    top: 67% !important;
  }

  .banner{
    background-position: center !important;
  }

  .form-wrapper {
    width: 97% !important;
    top: 55% !important;
    left: 1% !important;
  }

  .content {
  position: absolute !important;
  top: 10% !important;
  left: 10% !important;
  }

  .form-wrapper-login {
    top: 20% !important;
    left: 0% !important;
    width: 90% !important;
  }

  .form-wrapper-signup {
    top: 1% !important;
    left: 0% !important;
    width: 90% !important;
  }

  .form-wrapper {
    display: flex-inline !important;
  }

}
