@media only screen and (max-width: 1030px) {
  .btn-submit-index{
    width: 70% !important;
    left: 15% !important;
    top: 67% !important;
  }

  .banner{
    background-position: center !important;
  }
}
