@media only screen and (max-width: 1030px) {
  .btn-submit-index{
    width: 70% !important;
    left: 15% !important;
    top: 67% !important;
  }

  .banner{
    background-position: center !important;
  }

  .form-wrapper {
    width: 97% !important;
    top: 55% !important;
    left: 1% !important;
  }

  .content {
  position: absolute !important;
  top: 10% !important;
}

}
