<div class="banner" style="background-image: url('http://mzwnews.com/wp-content/uploads/2017/09/Blog-Berlin-move.jpg');">
  <div class="banner-content">
    <h1>RELOCATE TO BERLIN</h1>
    <p>Find a BUDDY to relocate & onboard you to Berlin</p>

  </div>
</div>

