<div class="banner" style="background-image: url('http://mzwnews.com/wp-content/uploads/2017/09/Blog-Berlin-move.jpg');">
  <div class="banner-content">

    <h1><%= @title %></h1>
    <p><%= @subtitle %></p>

  </div>
</div>
