<div class="footer">
  <div class="footer-links">
     <div>Made with ❤️ by the legendary Team of Batch 195</div>
  </div>
  <div class="footer-copyright">
      <div>about-us</div>
  </div>
</div>



