<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for @user, { url: "/buddies", method: "get" } do |f| %>
    <%= f.input_field :plz,
      placeholder: "Enter your postcode",
      include_blank: false,
      class: "form-control", required: true %>

      <%= f.select "specialties", options_for_select(@specialties, "specialties"),
      prompt: "Select a procedure",
      required: true,
      class: "form-control"
      include_blank: false %>

       <!-- f.input :pick_a_date, as: :string, required: false, input_html: {class: "datepicker"}  -->
      <%= f.button :submit, "Go", class: "submit-button" %>

    <% end %>
  </div>
</div>
