<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Search</h2>

    <%= simple_form_for @user, { url: "/buddies", :method => :get } do |f| %>

      <%= f.input :plz,
      placeholder: "Enter your postcode",
      include_blank: false,
      class: "form-control" %>

      <%= f.select "specialties", options_for_select(@specialties, "specialties"),
      class: "form-control",
      prompt: "Select a procedure",
      required: true %>

      <%= f.submit "Go", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
