

<div class="main-container">

  <!-- break line -->
  <h1>This Application has been made with ❤️  by : </h1>
  <div class="container-about-us">


    <div class="row">
     <div class="col-xs-12 col-md-3">
      <img height="250" width="250" src="https://res.cloudinary.com/da516w7pk/image/upload/v1543582061/Screen_Shot_2018-11-30_at_13.46.32.png" class="about-us-img">
      <p>Cedric </p>
      <p>The Project Meister</p>
    </div>

      <div class="col-xs-12 col-md-3">
        <img height="250" width="250" src="https://res.cloudinary.com/da516w7pk/image/upload/v1543582042/Screen_Shot_2018-11-30_at_13.46.10.png" class="about-us-img">
        <p>Karl</p>
        <p>The Product Meister</p>
      </div>

      <div class="col-xs-12 col-md-3">
        <img height="250" width="250" src="https://res.cloudinary.com/da516w7pk/image/upload/v1543582190/ZEN-Portraits-146-1-min.jpg" class="about-us-img">
        <p >Ole </p>
        <p >The CSS Meister</p>
      </div>

      <div class="col-xs-12 col-md-3">
       <img height="250" width="250" src="https://res.cloudinary.com/da516w7pk/image/upload/v1543579776/575480_dbbb7c9bc7be4a73b2d18f14c3a29bd1_mv2.jpg" class="about-us-img">

       <p>Lucas </p>
       <p>The Backend Meister</p>
     </div>

   </div>
 </div>
</div>

