.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.submit-button {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FDA16D;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 15px;
  font-size: unset;
}

.submit-button-match {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: grey;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 15px;
  font-size: 1.3vw;
}

a:hover {
  text-decoration: none;
}


.btn-submit-index {
  text-decoration:none;
  text-align: center;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FDA16D;
  transition: background 0.3s ease;
  width: 30%;
  margin-top: 15px;
  position: absolute;
  left: 35%;
  top: 60%;
  font-size: unset;
  transform: translateY(100vh);
  transition: all ease 1s;
  // display: none;
  animation-name: btn-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.centered-btn {
  margin-top: 10px !important;
  height: 39px;
  width: 220px;
  padding: 5px;
  margin: 10px;

}


@keyframes btn-animation {
    0%   {transform: translateY(100vh);}
    // 1%  {}
    100% {transform: translateY(0)}
}



/* Build your own button classes ! */
