
.form-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 58%;
    left: 16.5%;
  }


.form-wrapper-login { background-color: rgba(255,255,255,0.7);
    padding: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.3);
    margin: 20px;
    color: grey;
    position: absolute;
    top: 40%;
    left: 33%;
    width:33%;
  }


  .form-wrapper-signup { background-color: rgba(255,255,255,0.7);
    padding: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.3);
    margin: 10px;
    color: grey;
    position: absolute;
    top: 8%;
    left: 33%;
    width: 33%;
  }

  .form-wrapper p {
  color: grey;
  }

  .form-group {
    margin-bottom: 5px !important;
  }

  select {
    -webkit-appearance:none;
    background-color: rgba(273,273,273, 1) !important;
    box-shadow: none;
  }
    /*the container must be positioned relative:*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgba(155, 155, 155, 1) !important;
}

select:-webkit-autofill {
    -webkit-text-fill-color: rgba(155, 155, 155, 1) !important;
}

select:-webkit-autofill:active {
    -webkit-text-fill-color: rgba(128, 128, 128, 1) !important;
}

    /*HOME PROCEDUE DROP-DOWN FIELD*/
  #user_specialties {

    background-color: transparent;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    margin-left: 1px !important;
    position: relative;
    height: 50px;
    width: 180px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align-last: center;
    color: rgba(155, 155, 155, 1) !important;
    border: none;
    outline: none;
  }


  #user_specialties select {
    display: none;
    border-radius: 5px; /*hide original SELECT element:*/
  }

  #user_id {
    position: relative;
    height: 40px;
    width: 220px;
    margin: 0px;
    background-color: white;
    color: grey;
    border-radius: 5px;
  }

  .input-field{
    position: relative;
    height: 40px;
    margin: 10px;
    background-color: white;
    color: grey;
    font-size: 18px;
    border-radius: 5px;
  }


  /*HOME ENTER PLZ*/
  #user_plz {
    position: relative;
    height: 40px;
    margin-left: 13px;
    background-color: transparent;
    color: grey;
    border-radius: 0px;
    border-style: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    text-align: center;
    margin-left: -12px;

  }


  /*datepicker enter home*/
  #user_availability {
    position: relative;
    height: 40px;
    width: 189px;
    margin: 5px;
    margin-left: -12px;
    text-align: center;
    background-color: transparent;
    color: rgba(155, 155, 155, 1) !important;
    border-radius: 0px;
    border-style: none;
    border: none;
    box-shadow: none;
    padding-top: 10px;
    font-size: 18px;
  }

  .inputfield{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 3px;
    padding-left: 12px;
    position: relative;
    height: 50px;
    width: 220px;
    margin: 10px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    border: none;
  }

  .icon{
    flex-direction: row-reverse;
    z-index: 10;
  }
input.form-control {
    border: none !important;
    background-color: white !important;
  }

.form-control{
  outline: none !important;
  background-color: white !important;
}


