.container1 {
  height: 100vh ;
  width: 100vw ;
}

.banner1 {
  height: 30vh;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: 50% 75%;

  h1 {
    font-weight: bold;
  }
}


.containerContent{
  height: 70vh;
  width: 100%;
  background: white;
  display: flex;
  padding: 0 40px;
}

.contentLeft {
    height: 100%;
    width: 25%;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding-right: 30px;
}

.avatar1 {
    // background: black;
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    transform: translateY(-15vh);
    background-position: center;
    // from wiebke
    display:flex;
    justify-content: center;
    align-items: center;
    //from arbi
    overflow: hidden;
}

.action {
    height: 60%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    transform: translateY(-9vh);
    padding: 15px;
    border-radius: 10px;
}


.actionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  p {
    font-size: 1.5vw;
    margin-bottom: 10px;
  }
}

.contentRight {
  height: 100%;
  width: 75%;
  // background: purple;
  display: flex;
  flex-direction: column;
}
.description {
  height: 30%;
  width:100%;
  background: white;
  padding-top: 5px;
  margin-top: 12px;
  text-align: center;
}

.description p {
  margin-top: 5px;
  font-size: 1.2vw;
}

.specialPlusMap {
  height: 55%;
  width:100%;
  display: flex;
  margin-top: -18px;
  // background: grey;
  //margin-top: -20px;
}


.special {
  height: 100%;
  width: 40%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 15px;

}

.specialContainer {
  height: 100%;
  margin-top: -1.5%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  text-align: center;
  p {
    font-size: 1.5vw;
    margin-bottom: 0 !important;
  }
}

.specialKind {
  display: flex;
  // text-align: center;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
  text-align: left;
  height: 20%;
  margin-left: 6%;
}

.item1 {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
  i {

  }
}

.item2 {
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.map1 {
  height: 100%;
  width: 60%;
  // background: orange;
  display: flex;
  flex-direction: column;
  padding: 8px;
}


.mapContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    // text-align: center;
  p {
    font-size: 1.5vw;
    margin-bottom: 10px;
  }
}


.review {
  height: 20%;
  width:100%;
}


.md-icon {
    font-size: 2vw;
    color: #ff9a44;
    padding: 0 !important;
    margin-left: 10px;
}


.big-icon {
    font-size: 2.5vw;
    color: #ff9a44;
    padding: 0 !important;
}

